[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QGA"]
	path = QGA
	url = https://github.com/barcaroli/qga
[submodule "R2BEAT"]
	path = R2BEAT
	url = https://github.com/barcaroli/r2beat
[submodule "ReGenesees"]
	path = ReGenesees
	url = https://github.com/DiegoZardetto/ReGenesees
	registered = false
[submodule "SamplingStrata"]
	path = SamplingStrata
	url = https://github.com/barcaroli/samplingstrata
